black==23.11.0
cffi==1.16.0
cfgv==3.3.1
click==8.1.7
colorama==0.4.6
distlib==0.3.8
filelock==3.13.1
flake8==6.1.0
identify==2.5.35
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.1
pathspec==0.10.3
pip==23.3.1
platformdirs==3.10.0
pre_commit==3.6.2
pycodestyle==2.11.1
pycparser==2.21
pyflakes==3.1.0
PyYAML==6.0.1
setuptools==68.2.2
ukkonen==1.0.1
virtualenv==20.25.1
wheel==0.41.2
